@page "/"
@using Blazored.TextEditor

<section id="index_page">
    <div class="index_page_container">

        <div class="left_panel">
            <div class="left_panel_container">
               
            </div>
        </div>

        <div class="right_panel">
            <div class="right_panel_container">

            </div>
        </div>

    </div>
</section>

