@page "/"
@using Blazored.TextEditor

<main id="homepage">
    <header>
        <div class="header_container">
            <div class="left_panel">
                <div class="left_panel_container">
                    <div class="title">
                        <h1>My Goal Planner</h1>
                    </div>

                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur tempora necessitatibus quod asperiores commodi temporibus, ipsum maiores modi nostrum error! Soluta eligendi consequuntur, nulla quis suscipit iusto architecto vero.
                        </p>
                    </div>

                    <div class="icons_container">
                        <a href="#" class="icon">
                            <i class="fas fa-briefcase"></i>
                            <p>For Professionals</p>
                        </a>

                        <a href="#" class="icon">
                            <i class="fas fa-user-graduate"></i>
                            <p>For Studying</p>
                        </a>

                        <a href="#" class="icon">
                            <i class="fas fa-chart-line"></i>
                            <p>For Life Improvement</p>
                        </a>
                    </div>

                </div>
            </div>

            <div class="right_panel">
                <div class="right_panel_container">
                    <a href="#">
                        <p>Explore</p>

                        <div class="arrow">
                            <p><i class="fas fa-arrow-down"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="about_container">
            <div class="title">
                <h2>About</h2>
            </div>

            <div class="description">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas earum cumque commodi amet nesciunt totam esse quasi eaque nulla non hic rerum, doloremque explicabo ducimus exercitationem cum in magnam distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error sint consectetur similique totam illo earum inventore, doloremque dolor rem?</p>
            </div>
        </div>
    </section>

    <section id="offer">
        <div class="offer_container">

            <div id="for_profesionals">
                <div class="product_container">

                    <div class="left_panel">
                        <div class="left_panel_container">
                            <div class="title">
                                <h3>For Professionals</h3>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate adipisci quasi sunt, et dolorem doloribus minus provident distinctio temporibus similique!</p>
                            </div>

                            <div class="description_list">
                                <ul>
                                    <li>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>8. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="right_panel">
                        <div class="right_panel_container">
                            <img src="images/profesionals.png">
                        </div>
                    </div>

                </div>
            </div>

            <div id="for_studying">
                <div class="product_container">

                    <div class="left_panel">
                        <div class="left_panel_container">
                            <img src="images/profesionals.png">
                        </div>
                    </div>

                    <div class="right_panel">
                        <div class="right_panel_container">
                            <div class="title">
                                <h3>For Professionals</h3>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate adipisci quasi sunt, et dolorem doloribus minus provident distinctio temporibus similique!</p>
                            </div>

                            <div class="description_list">
                                <ul>
                                    <li>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>8. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="for_better_life">
                <div class="product_container">

                    <div class="left_panel">
                        <div class="left_panel_container">
                            <div class="title">
                                <h3>For Professionals</h3>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate adipisci quasi sunt, et dolorem doloribus minus provident distinctio temporibus similique!</p>
                            </div>

                            <div class="description_list">
                                <ul>
                                    <li>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                    <li>8. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam?</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="right_panel">
                        <div class="right_panel_container">
                            <img src="images/profesionals.png">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</main>

