@page  "/GoalDetails"
@page "/GoalDetails/{GoalId:int}"

@inherits ViewGoalBase


<p>Hi @GoalId</p>

<p>
    @goal.Name
</p>

@if (steps != null)
{
    @foreach (var s in steps)
    {
        <p>@s.StepNumber / @s.StepName</p>
    }

}
