@page  "/GoalDetails"
@page "/GoalDetails/{GoalId:int}"

@inherits ViewGoalBase


<p>Hi @GoalId</p>

<p>
    @goal.Name
</p>

@if (steps != null)
{
    @foreach (var s in steps)
    {
        <p>@s.StepNumber / @s.StepName</p>
    }
}

<section class="goal_display">
    <div class="goal_display_container">

        <div class="main_goal_display">
            <div class="main_goal_display_container">

            </div>
        </div>

        <div class="other_goal_information_display">
            <div class="other_goal_information_display_container">

            </div>
        </div>

    </div>
</section>