.create_goal_page {
}

label{
    display:block;
}




.form{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    display:flex;
    width:100%;
    justify-content:center;
}

.left_container {
    width: 100%;
    max-width: 400px;
    padding: 2em;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.double_form_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right {
    display: flex;
    width: 100%;
    justify-content: center;
}

.right_container {
    width: 100%;
    max-width: 400px;
    padding: 2em;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.right .list_of_steps{
    border: 1px solid #808080;
    padding: 0.5em;
}

.right .step_button_container{
    text-align:center;
    padding: 1em 0;
}