h2{
    font-size: 2rem;
}

#GoalDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


    .goal_display_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        padding: 3em 1em;
    }

    .main_goal_display {
        width: 100%;
    }

    .line{
        width:100%;
        height: 3px;
        background-color: rgba(30, 32, 74, 0.61);
        margin: 1em 0;
    }
}
