h2 {
  font-size: 2rem; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#GoalDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  #GoalDisplay .goal_display_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    padding: 3em 1em; }
  #GoalDisplay .main_goal_display {
    width: 100%; }
    #GoalDisplay .main_goal_display .line {
      width: 100%;
      height: 3px;
      background-color: rgba(30, 32, 74, 0.61);
      margin: 1em 0; }
    #GoalDisplay .main_goal_display .goal_description p {
      line-height: 23px; }
    #GoalDisplay .main_goal_display .goal_time {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #GoalDisplay .main_goal_display .goal_time label {
        font-weight: 600;
        font-size: 1.05rem;
        padding: 0 0 0.3em 0; }
  #GoalDisplay .other_goal_information_display {
    width: 100%; }
    #GoalDisplay .other_goal_information_display .step_labels {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      font-weight: 600; }
    #GoalDisplay .other_goal_information_display .name_l {
      padding: 0.3em 0 0.5em 0;
      border-bottom: 1px solid rgba(30, 32, 74, 0.61); }
    #GoalDisplay .other_goal_information_display .completed_l {
      padding: 0.3em 0 0.5em 0;
      border-bottom: 1px solid rgba(30, 32, 74, 0.61); }
    #GoalDisplay .other_goal_information_display .step {
      display: grid;
      grid-template-columns: 30px 1fr 1fr;
      padding: 0.3em 0;
      border-bottom: 1px solid rgba(30, 32, 74, 0.61); }
    #GoalDisplay .other_goal_information_display .step_number {
      display: flex;
      align-content: center;
      align-items: center; }
    #GoalDisplay .other_goal_information_display .step_name {
      display: flex;
      align-content: center;
      align-items: center; }
    #GoalDisplay .other_goal_information_display .if_completed_step {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
    #GoalDisplay .other_goal_information_display .check_box {
      height: 25px;
      width: 25px;
      outline: unset; }
  #GoalDisplay .save_changes_button {
    position: absolute;
    bottom: 20px;
    right: 10px; }
    #GoalDisplay .save_changes_button button {
      color: white;
      width: 150px;
      padding: 0.7em 0;
      text-align: center;
      border: none;
      background-color: #128609;
      font-weight: 600;
      transition: 0.5s background-color; }
      #GoalDisplay .save_changes_button button:hover {
        background-color: #19a90e; }
  #GoalDisplay .edit_button {
    position: absolute;
    bottom: 20px;
    right: 170px; }
    #GoalDisplay .edit_button button {
      color: white;
      width: 150px;
      padding: 0.7em 0;
      text-align: center;
      border: none;
      background-color: #451c8a;
      font-weight: 600;
      transition: 0.5s background-color; }
      #GoalDisplay .edit_button button:hover {
        background-color: #5726a9; }
