h2{
    font-size: 2rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#GoalDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


    .goal_display_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        padding: 3em 1em;
    }

    .main_goal_display {
        width: 100%;

        .line {
            width: 100%;
            height: 3px;
            background-color: rgba(30, 32, 74, 0.61);
            margin: 1em 0;
        }

        .goal_description {

            p {
                line-height: 23px;
            }
        }

        .goal_time {
            display: grid;
            grid-template-columns: 1fr 1fr;

            label {
                font-weight: 600;
                font-size: 1.05rem;
                padding: 0 0 0.3em 0;
            }
        }
    }

    .other_goal_information_display {
        width: 100%;

        .step_labels {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            font-weight: 600;
        }

        .name_l {
            padding: 0.3em 0;
            border-bottom: 1px solid rgba(30, 32, 74, 0.61);
        }

        .completed_l {
            padding: 0.3em 0;
            border-bottom: 1px solid rgba(30, 32, 74, 0.61);
        }

        .step {
            display: grid;
            grid-template-columns: 30px 1fr 1fr;
            padding: 0.3em 0;
            border-bottom: 1px solid rgba(30, 32, 74, 0.61);
        }

        .step_number {
            display: flex;
            align-content: center;
            align-items: center;
        }

        .step_name {
            display: flex;
            align-content: center;
            align-items: center;
        }

        .if_completed_step {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }

        .check_box {
            height: 25px;
            width: 25px;
        }
    }
}
