/*----------CSS RESET----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------CSS RESET End----------*/
/*----------Variables----------*/
/*Header Variables*/
/*----------Variables End----------*/
/*----------Global----------*/
h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}

p, label, a, input, textarea {
    font-family: 'Open Sans', sans-serif;
}

/*----------Global End----------*/
/*----------Homepage----------*/
#homepage {
    /*Header*/
    /*Header End*/
    /*About*/
    /*About End*/
    /*Offer*/
}

    #homepage header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 4em;
    }

        #homepage header .header_container {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 45% 55%;
            grid-template-columns: 45% 55%;
            width: 100%;
            max-width: 1350px;
            border-radius: 20px;
            background: #ffffff;
            -webkit-box-shadow: 20px 20px 50px #cccccc, -20px -20px 60px #ffffff;
            box-shadow: 20px 20px 50px #cccccc, -20px -20px 60px #ffffff;
            min-height: 80vh;
        }

        #homepage header .left_panel {
            padding: 2em 3em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            #homepage header .left_panel .title h1 {
                font-size: 6rem;
                font-weight: 600;
                letter-spacing: 3px;
                color: #223077;
            }

            #homepage header .left_panel .description {
                padding: 4em 0;
            }

                #homepage header .left_panel .description p {
                    font-size: 1.3rem;
                    font-weight: 500;
                    line-height: 20px;
                }

            #homepage header .left_panel .icons_container {
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
            }

                #homepage header .left_panel .icons_container a {
                    color: #223077;
                    display: block;
                    text-align: center;
                    text-decoration: unset;
                    cursor: pointer;
                    -webkit-transition: color 0.5s;
                    transition: color 0.5s;
                }

                    #homepage header .left_panel .icons_container a i {
                        font-size: 2.5rem;
                        padding-bottom: 0.4em;
                    }

                    #homepage header .left_panel .icons_container a p {
                        font-weight: 600;
                    }

                    #homepage header .left_panel .icons_container a:hover {
                        color: #3355ee;
                    }

        #homepage header .right_panel {
            background-image: url(../images/right_panel_back.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

            #homepage header .right_panel .right_panel_container {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-line-pack: center;
                align-content: center;
            }

                #homepage header .right_panel .right_panel_container a {
                    background-color: #fff;
                    width: 190px;
                    height: 190px;
                    border-radius: 50%;
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    text-decoration: none;
                    top: -10px;
                    -webkit-animation-name: explore_animation;
                    animation-name: explore_animation;
                    -webkit-animation-duration: 10s;
                    animation-duration: 10s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    -webkit-transition: color 0.5s, background-color 0.5s;
                    transition: color 0.5s, background-color 0.5s;
                }

                    #homepage header .right_panel .right_panel_container a p {
                        display: block;
                        font-size: 2.5rem;
                        font-weight: 700;
                        color: #223077;
                    }

                    #homepage header .right_panel .right_panel_container a .arrow {
                        position: absolute;
                        top: 200px;
                    }

                        #homepage header .right_panel .right_panel_container a .arrow p {
                            font-size: 4.2rem;
                            color: white;
                        }

                    #homepage header .right_panel .right_panel_container a:hover {
                        background-color: #223077;
                    }

                        #homepage header .right_panel .right_panel_container a:hover p {
                            color: #fff;
                        }

                        #homepage header .right_panel .right_panel_container a:hover .arrow p {
                            color: #223077;
                        }

    #homepage #about {
        margin: 10em 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        #homepage #about .about_container {
            width: 100%;
            max-width: 1350px;
        }

        #homepage #about .title {
            padding-bottom: 3em;
            text-align: center;
        }

            #homepage #about .title h2 {
                color: #223077;
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: 5px;
            }

        #homepage #about .description {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }

            #homepage #about .description p {
                display: block;
                width: 100%;
                max-width: 1100px;
                font-size: 1.7rem;
            }

    #homepage #offer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 6em 0;
    }

        #homepage #offer .offer_container {
            width: 100%;
            max-width: 1350px;
        }

        #homepage #offer .product_container {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

/*End Offer*/
@-webkit-keyframes explore_animation {
    0% {
        top: -10px;
    }

    25% {
        top: 50px;
    }

    50% {
        top: -10px;
    }

    75% {
        top: 50px;
    }

    100% {
        top: -10px;
    }
}

@keyframes explore_animation {
    0% {
        top: -10px;
    }

    25% {
        top: 50px;
    }

    50% {
        top: -10px;
    }

    75% {
        top: 50px;
    }

    100% {
        top: -10px;
    }
}

/*----------Homepage End----------*/
/*# sourceMappingURL=main.css.map */
