@page "/"
@inherits CodeBase.TestBase;



<div>
    @foreach (var t in goals)
    {
        <p>@t.Name</p>
    }
</div>

@if (LoaderAdd != true)
{
    <div>
        <input @bind="GoalNameInput" />
        <button @onclick="@(async () => await CreateGoal())">Add</button>
    </div>

    <div>
        <button style="width: 30px; height: 30px" @onclick="ToggleAddingItems">@ToggleAddingItemsBtnTxt</button>
    </div>
}
else
{
    <div>
        <img src="../images/loadingGif.gif"/>
    </div>
}

