@page "/"

<section class="dashboard_page">
    <div class="dashboard_page_container">

        <section class="today_goals">
            <div class="today_goals_container">

                <div class="title">
                    <h2>Todays Goals</h2>
                </div>

                <div class="goals_scroller">
                    <div class="goals_scroller_container">

                        <div class="goal">
                            Goal 1
                        </div>

                        <div class="goal">
                            Goal 2
                        </div>

                        <div class="goal">
                            Goal 3
                        </div>

                    </div>
                </div>

            </div>
        </section>


        <section class="planner">
            <div class="planner_container">

                <div class="left_panel">

                    <div class="planner_showcase">
                        <div class="plan_title">
                            <h3>Planner</h3>
                        </div>

                        <div class="planner_scroll">

                            <div class="piece">
                                <p>plan point</p>
                            </div>
                            <div class="piece">
                                <p>plan point</p>
                            </div>
                            <div class="piece">
                                <p>plan point</p>
                            </div>
                            <div class="piece">
                                <p>plan point</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="right_panel">
                    <div class="button_box">
                        <button>Manage Planner</button>
                    </div>
                </div>

            </div>
        </section>


        <section class="set_new_goal">

            <div class="left">
                <div class="button_box">
                    <button>Set New Goal</button>
                </div>
            </div>

            <div class="right">
                <div class="imgage_container">
                    <img />
                </div>
            </div>

        </section>

    </div>
</section>